<div class="normal_page_wrapper">
    <div class="page_top_button_row">
        <button mat-icon-button class='top_left_page_button' (click)="navigationService.jumpHome()">
            <mat-icon>west</mat-icon>
        </button>
        <button mat-raised-button color="warn" class="top_right_page_button" (click)="navigationService.challengeLogout()">Sign Out</button>
    </div>
    <div class="page_content">
        <div class="page_title_row" style="margin-top: .5rem">
            <div class="page_title" >Account</div>
        </div>

        <div class="page_sub_content">
            <div *ngIf='authenticationService.user' class="account_wrapper hover" matRipple (click)="navigationService.setRightPanel('Account'); authenticationService.prepUserForChange()">
                <div class="user_icon">{{authenticationService.user!.firstName[0]}}</div>
                <div class="user_name">{{authenticationService.user.firstName + ' ' + authenticationService.user.lastName}}</div>
                <div class="user_email">{{authenticationService.user.email}}</div>
                <mat-icon class="over_arrow">chevron_right</mat-icon>
            </div>
            <mat-divider class="positionRelative floatLeft fullWidth autoHeight"></mat-divider>

            <div class="field_wrapper hover" matRipple (click)="navigationService.setRightPanel('Privacy')">
                <div class="field_wrapper">Privacy</div>
                <mat-icon class="over_arrow">chevron_right</mat-icon>
            </div>
            <mat-divider class="positionRelative floatLeft fullWidth autoHeight"></mat-divider>
            <div class="field_wrapper hover" matRipple (click)="navigationService.setRightPanel('Legal')">
                <div class="field_wrapper">Legal</div>
                <mat-icon class="over_arrow">chevron_right</mat-icon>
            </div>
            <mat-divider class="positionRelative floatLeft fullWidth autoHeight"></mat-divider>
        </div>
    </div>
</div>
