:root {
    --primary:  var(--sl-color-gray-400);
    --accent: hsl(199deg 99% 47%);
    --dark-accent: var(--sl-color-primary-800);
    --warn: rgb(151, 8, 8);
    --white: white;
    --gray: #a4a4a4;
    --dark-gray: rgb(148 148 148);
    --green: rgb(0, 86, 10);

    --theme-background-1: hsl(0deg 2% 97%);
    --theme-background-2: white;
    --theme-font-light: white;
    --theme-font-medium: var(--gray);
    --theme-font-dark: black;
}

[theme="dark"] {
    --theme-background-1: hsl(0, 0%, 27%);
    --theme-background-2: hsl(0, 0%, 42%);
    --theme-font-light: rgb(187, 187, 187);
    --theme-font-medium: rgb(121, 121, 121);
    --theme-font-dark: black;
}   