Adafruit-Blinka==8.13.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-motor==3.4.7
adafruit-circuitpython-requests==1.12.12
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.39.0
Adafruit-PureIO==1.1.9
firebase-admin==6.0.1
Flask
bottle
google-api-core==2.11.0
google-api-python-client==2.74.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-firestore==2.9.1
google-cloud-pubsub==2.14.1
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
RPi.Gpio==0.7.1
