<div class="popup_wrapper">
    <div class="popup_header">{{data.header}}</div>
    <div class="popup_close hover">
        <mat-icon class="color-primary" mat-button  mat-dialog-close >close</mat-icon>
    </div>
    <div *ngIf='data.content' class="popup_content" [innerHTML]="data.content"></div>
    <div *ngIf='data.buttons && data.buttons.length > 0' mat-dialog-actions class="popup_buttons">
        <button *ngFor='let button of data.buttons' mat-raised-button class="popup_button" (click)='buttonClicked(button)' [ngClass]="button.color_class">{{button.label}}</button>
    </div>
</div>
